.paragraph {
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  font-family: var(--font-paragraph);

  &__white {
    color: var(--white);
  }

  &__black {
    color: var(--dark);
  }

  &__yellow {
    color: var(--yellow);
  }

  &__70 {
    font-size: rem(30px);
    line-height: normal;
    font-weight: 400;

    @include min-tablet {
      font-size: rem(60px);
    }

    @include pcSmall {
      font-size: rem(70px);
    }
  }

  &__48 {
    font-size: rem(28px);

    line-height: normal;
    font-weight: 400;

    @include min-tablet {
      font-size: rem(38px);
    }

    @include pcSmall {
      font-size: rem(48px);
    }
  }

  &__40 {
    font-size: rem(18px);
    line-height: rem(18.11px);

    @include min-tablet {
      font-size: rem(24px);
      line-height: rem(24.11px);
    }

    @include pcSmall {
      font-size: rem(40px);
      line-height: rem(40px);
    }
  }

  &__26 {
    font-size: rem(12px);
    line-height: rem(12px);

    @include min-tablet {
      font-size: rem(18px);
      line-height: rem(18px);
    }

    @include pcSmall {
      font-size: rem(26px);
      line-height: rem(31px);
    }
  }

  &__24 {
    font-size: rem(24px);

    span {
      font-weight: 400;
    }
  }

  &__20 {
    font-size: rem(16px);

    @include pcSmall {
      font-size: rem(20px);
    }

    font-weight: 400;
  }

  &__18 {
    font-size: rem(18px);
    font-weight: 400;
    line-height: 150%;
  }

  &__16 {
    font-size: rem(16px);
    font-weight: 400;
  }
}
