.content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  opacity: 0;
  transform: scale(0.5);

  will-change: opacity, transform;
  transition:
    opacity 0.4s var(--easeInOutQuart),
    transform 0.4s var(--easeInOutQuart);

  gap: rem(50px);

  @include min-tablet {
    gap: rem(100px);
  }

  @include pcSmall {
    flex-direction: row;
    gap: rem(50px);
  }

  &.active {
    opacity: 1;
    transform: scale(1);
  }

  &_left,
  &_right {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &_left {
    height: rem(342px);

    @include min-tablet {
      height: rem(442px);
    }

    @include pcSmall {
      height: rem(792px);
    }

    &_logo {
      width: 100%;
      height: rem(342px);
      aspect-ratio: 320/342;

      @include min-tablet {
        width: rem(523px);
        height: rem(442px);
        aspect-ratio: 523/442;
      }

      @include pcSmall {
        width: rem(623px);
        height: rem(792px);
        aspect-ratio: 623/792;
      }
    }

    &_name {
      position: absolute;
      bottom: 0;

      @include pcSmall {
        left: rem(-220px);

        width: rem(957px);
        height: rem(370px);
        aspect-ratio: 957/370;
      }
    }

    &_sword {
      position: absolute;
      transform: translateX(-100%);
      will-change: transform;
      transition: transform 0.6s var(--easeInOutQuart);
      width: 125vw;
      left: -35vw;
      height: rem(125px);

      top: calc(100% - #{rem(35px)});

      @include min-tablet {
        top: 100%;
        left: -50%;
        width: 150%;
        height: auto;
      }

      @include pcSmall {
        left: -115%;
        width: rem(1547px);
        height: rem(179px);
      }

      &.active {
        transform: translateX(0%);
      }

      &_image {
        object-fit: cover;
        width: 100%;
        height: 100%;

        @include min-tablet {
          object-fit: initial;
        }
      }

      &_ca {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        height: fit-content;

        right: 10vw;

        @include min-tablet {
          right: 5vw;
        }

        @include pcSmall {
          right: rem(195px);
        }
      }
    }
  }

  &_right {
    gap: rem(15px);

    @include min-tablet {
      gap: rem(25px);
    }

    @include pcSmall {
      gap: rem(53px);
      transform: translateX(#{rem(100px)});
    }

    &_sections {
      display: flex;
      flex-direction: column;
      gap: rem(15px);

      @include min-tablet {
        gap: rem(25px);
      }

      button {
        position: relative;
        width: max-content;

        span {
          color: var(--black);
          position: relative;
          z-index: 1;
          will-change: color;
          transition: color 0.4s var(--easeInOutQuart);
        }

        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: var(--black);
          border-bottom: rem(9px) solid var(--red);
          opacity: 0;
          will-change: opacity;
          transition: opacity 0.4s var(--easeInOutQuart);
          z-index: 0;
        }

        &:active,
        &:hover {
          span {
            color: var(--red);
          }

          &::before {
            opacity: 1;
          }
        }
      }
    }

    &_socials {
      display: flex;
      gap: rem(22px);

      @include min-tablet {
        gap: rem(32px);
      }

      @include pcSmall {
        gap: rem(42px);
      }

      a {
        will-change: transform;
        transition: transform 0.4s var(--easeInOutQuart);

        width: rem(64px);
        height: rem(64px);

        @include pcSmall {
          width: rem(96px);
          height: rem(96px);
        }

        svg {
          width: 100%;
          height: 100%;

          path {
            will-change: fill;
            transition: fill 0.4s var(--easeInOutQuart);
          }
        }

        &:hover {
          transform: scale(1.1);

          svg > path {
            fill: var(--red);
          }
        }
      }
    }
  }
}
