:root {
  --easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);
  --easeInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);
  --easeInOutQuad: cubic-bezier(0.45, 0, 0.55, 1);

  --white: #ffffff;
  --black: #000000;
  --dark: #111214;
  --red: #FF2828;
  --yellow: #FFD581;
  --gray: #999896;
  --silver: #f4f2ed;
  --cornflower: #4f4a3b;
  --lightblue: #8499ca;

  --font-base: '__Chelsea_Market_1895f1',
    '__Chelsea_Market_Fallback_1895f1', system-ui;
  --font-label: '__Lilita_One_e25879',
    '__Lilita_One_Fallback_e25879', system-ui;
  --font-paragraph: '__Maiden_Orange_37cadd',
    '__Maiden_Orange_Fallback_37cadd', system-ui;
  --font-heading: '__Mansalva_f15144',
    '__Mansalva_Fallback_f15144', system-ui;
}