.canvas_wrapper {
  height: 200vh;
  width: 100vw;
  position: relative;

  canvas {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    display: block;
  }

  &_content {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: calc(100vh + #{rem(16px)});

    @include min-tablet {
      top: calc(100vh + #{rem(38px)});
    }
  }
}
